#home-container {
	position: relative;

	display: grid;
	place-items: center;
	grid-template-areas: "home-container";

	margin: auto;

	width: 75%;
	height: 100svh;
}


/* ##### HOME BACKGROUND ##### */

#home-bg {
	grid-area: home-container;

	width: 100%;
	height: 100%;

	background-image: url("../../../assets/images/home_background_back.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 100%;
}


/* ##### HOME MIDDLE ##### */

#home-mid {
	grid-area: home-container;

	width: 100%;
	height: 100%;
}

#home-mid-title-container {
	transform: translate(-190px, 150px);

	color: mediumpurple;
	text-align: center;
	text-shadow: mediumpurple 0 0 30px, antiquewhite 0 0 15px;
}

#home-mid-title img {
	height: 160px;
}

#home-mid-subtitle {
	font-size: 110px;
}


/* ##### HOME FOREGROUND ##### */

#home-fg {
	grid-area: home-container;
	
	width: 100%;
	height: 100%;

	background-image: url("../../../assets/images/home_background_front.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 100%;
}

#home-fg-lines {
	position: absolute;
}

#home-fg-lines > img {
	transform: translate(-335px, -150px);
}

#home-fg-photo {
	position: absolute;

	width: 100%;
	height: 100%;

	background-image: url("../../../assets/images/home_background_photo.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 100%;
}


/* ##### HOME PEEPHOLE ##### */

#home-ph {
	grid-area: home-container;

	width: 100%;
	height: 100%;

	background: radial-gradient(circle at center, #00000000 50%, black 75%);

	/* TODO REMOVE THIS ONCE THE OVERLAP ISSUE IS FIXED */
	opacity: 0;
}