/* ! This might be temporary tbh */

.z-0 {
	z-index: 0;
}

.z-5 {
	z-index: 5;
}

.z-10 {
	z-index: 10;
}

.z-15 {
	z-index: 15;
}

.z-20 {
	z-index: 20;
}

.z-25 {
	z-index: 25;
}

.z-30 {
	z-index: 30;
}

#website {
	opacity: 0;

	transition: opacity 250ms ease;

	overflow-x: hidden;

	/* TODO REMOVE THIS ONCE THE WEBSITE IS OVER */
	opacity: 1!important;
}
