/* ##### SIDEBAR CLOSED ##### */

side-bar {
	position: absolute;

	top: 0;
	left: 0;

	width: 0;
	height: 100vh;

	transition: width 500ms;

	z-index: 50;
}

#sidebar-button {
	position: absolute;

	top: 0;
	left: 0;

	width: 35px;
	height: 35px;

	margin: 15px;

	background-image: url(../../../assets/images/sidebar-button.png);
	background-size: cover;

	z-index: 1;

	transition: transform 750ms ease;

	cursor: pointer;

	/* Temporary inverted the button's color so that it's visible with the black background on the home page */
	filter: invert(100%);
}


/* ##### SIDEBAR EXPANDED ##### */

side-bar:state(expanded) {
	width: 300px;
}

side-bar:state(expanded) > #sidebar-button {
	transform: translateX(235px) rotateY(180deg);
}


/* ##### SIDEBAR CONTENTS ##### */

#sidebar-contents {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: slategrey;

	overflow: hidden;
}

#sidebar-nav {
	position: absolute;

	top: 50%;
	left: 50%;

	width: 85%;

	transform: translate(-50%, -50%);
}

.sidebar-nav-subbuttons {
	width: 90%;
	height: 0;

	margin-left: auto;

	overflow: hidden;

	transition: height 400ms;
}

.sidebar-nav-button > p {
	&:hover {
		color: white;
		background: darkslategrey;
	}

	padding: 0.75rem;

	cursor: pointer;

	/* Button borders start */
	border-top-style: solid;
	border-width: 4px;
	border-color: white;

	transition: background 300ms, color 300ms;
}

.sidebar-nav-button:last-child > p {
	border-bottom-style: solid;
}

.sidebar-nav-button:has(.sidebar-nav-subbuttons.expanded) > p {
	border-bottom-style: solid;
}

.sidebar-nav-subbuttons > .sidebar-nav-button > p {
	border-width: 2px;
}
.sidebar-nav-subbuttons > .sidebar-nav-button:first-child > p {
	border-top-style: none;
}

.sidebar-nav-subbuttons > .sidebar-nav-button:last-child > p {
	border-bottom-style: none;
}
/* Button borders end */

.sidebar-nav-button-submenu > p:after {
	content: '';

	display: inline-block;
	position: absolute;

	right: 0;

	width: 12px;
	height: 18px;

	transform: translateX(-14px) rotate(90deg);

	background-image: url(../../../assets/images/sidebar-button.png);
	background-size: 100% 100%;

	transition: transform 750ms ease, filter 300ms;
}

.sidebar-nav-button-submenu > p:hover:after {
	filter: invert(100%);
}

.sidebar-nav-button-submenu:has(.expanded) > p:after {
	transform: translateX(-14px) rotate(90deg) rotateY(-180deg);
}