/* SIDEBAR CLOSED */

side-bar {
	position: absolute;

	top: 0;
	left: 0;

	width: 0;
	height: 100vh;

	transition: width 500ms;
}

#sidebar-button {
	position: absolute;

	top: 0;
	left: 0;

	width: 35px;
	height: 35px;

	margin: 15px;

	background-image: url(../../../assets/images/sidebar-button.png);
	background-size: cover;

	z-index: 1;

	transition: transform 750ms ease;

	cursor: pointer;
}

#sidebar-contents {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: slategrey;
}

#sidebar-nav {
	position: absolute;

	top: 50%;
	left: 50%;

	width: 80%;

	transform: translate(-50%, -50%);

	border-style: solid none;
	border-width: 2px;
	border-color: white;
}

.sidebar-nav-button {
}

.sidebar-nav-button > .sidebar-nav-button {
}



/* SIDEBAR EXPANDED */

side-bar:state(expanded) {
	width: 300px;
}

side-bar:state(expanded) > #sidebar-button {
	transform: translateX(235px) rotateY(180deg);
}